
/*
 Before Bootstrap
*/
/* body {
   background-color: darkmagenta;
   color: #fff;
}

h1 {
    color: black;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    color: white;
    width: 400px;
    float: left;
}

.push-right {
    float: right;
}

#clear-me {
    clear: both;
}

.big-font {
    font-size: 100px;
} */

.margin-top {
    margin-top: 100px;
    color: lightcoral;
}
